{% extends 'base.html' %}
{% load static %}

{% block title %}
    Personnel List
{% endblock %}
{% block ust_icerik %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% endblock %}

{% block icerik %}
    <script>

        $(function () {
            $("#personnel").autocomplete({
                source: '{% url 'search-auto' %}',
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui) {
            var selectedObj = ui.item;
        }

    </script>
    <form class="navbar-form navbar-left pull-right">
        {% for field in form %}
            <div class="form-group">
                {{ field }}
                {% for error in field.errors %}
                    <span class="text-danger"><b>{{ error }}</b></span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Ara</button>
    </form>

    <h1 class="page-header">PERSONEL LİSTESİ</h1>
    <table class="col-lg-11 pull-center" border="1">
        <tr>
            <th><h2>PERSONELLER</h2></th>
            <th><h2>ÜNVAN</h2></th>
            <th><h2>BEACON</h2></th>

        </tr>
        <tr>
            <td>
                <div class="col-lg-11 pull-center">
                    {% for personeller in personeller %}
                        <h2>
                            <a href="{% url 'personnel-detail' personeller.pk %}">{{ personeller.isim.upper }} {{ personeller.soyisim.upper }}</a>
                        </h2>
                    {% empty %}
                        <p>İçerik Bulunamadı</p>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div class="col-lg-11 pull-center">
                    {% for personeller in personeller %}
                        <h2>
                            <a href="{% url 'personnel-detail' personeller.pk %}">{{ personeller.unvan.upper }}</a>
                        </h2>
                    {% empty %}
                        <p>İçerik Bulunamadı</p>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div class="col-lg-11 pull-center">
                    {% for personeller in personeller %}
                        <h2>
                            <a href="{% url 'personnel-detail' personeller.pk %}">{{ personeller.beacon }}</a>
                        </h2>
                    {% empty %}
                        <p>İçerik Bulunamadı</p>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8 col-lg-offset-2">
                {% if personeller.has_other_pages %}
                    <ul class="pagination">
                        {% if personeller.has_previous %}
                            <li><a href="?page=
                                    {{ personeller.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in personeller.paginator.page_range %}
                            {% if personeller.number == i %}
                                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span> </span></li>
                            {% else %}
                                <li><a href="?page=
                                        {{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if personeller.has_next %}
                            <li><a href="?page=
                                    {{ personeller.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
