{% extends 'base.html' %}
{% load static %}
{% block ust_icerik %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 10px;
            font-size: 20px;
        }

        tr:nth-child(even) {
            background-color: white;
        }
    </style>
{% endblock %}
{% block title %}
    Personnel Detail
{% endblock %}
{% block icerik %}
    <div class="row">
        <div class="col-lg-12 pull-center">
            <div class="col-lg-10">
                <h2 class="page-header"><a href="{% url 'personnel-list' %}"><span
                        class="glyphicon glyphicon-arrow-left"></span> </a> <a
                        href="#">{{ personel.isim|upper }} {{ personel.soyisim|upper }}</a>
                </h2>
                <p class="lead"><b>Kullanıcı Profili: &nbsp;</b><a
                        href="{% url 'user-profile' personel.user.username %}">{{ personel.user.username }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row col-lg-8 pull-center">
        <table>
            <tr>
                <th colspan="2" style="text-align:center">PERSONEL DETAYLARI</th>
            </tr>
            <tr>
                <td>Ünvan:</td>
                <td>{{ personel.unvan }}</td>
            </tr>
            <tr>
                <td>Departman:</td>
                <td>{{ personel.departman }}</td>
            </tr>
            <tr>
                <td>Tc Kimlik No:</td>
                <td>{{ personel.user.username }}</td>
            </tr>
            <tr>
                <td>Cinsiyet:</td>
                <td>{{ personel.cinsiyet }}</td>
            </tr>
            <tr>
                <td>Doğum Tarihi:</td>
                <td>{{ personel.dogum_tarihi }}</td>
            </tr>
            <tr>
                <td>Kan Grubu:</td>
                <td>{{ personel.kan_grubu }}</td>
            </tr>
            <tr>
                <td>SSK No:</td>
                <td>{{ personel.ssk_no }}</td>
            </tr>
            <tr>
                <td>Iban No:</td>
                <td>{{ personel.iban }}</td>
            </tr>
            <tr>
                <td>Beacon:</td>
                <td>{{ personel.beacon }}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-3 pull-right">
            <a class="btn btn-primary btn-sm" href="{% url 'personnel-update' personel.pk %}">Güncelle</a>
            <a class="btn btn-danger btn-sm" href="{% url 'personnel-delete' personel.pk %}">Sil</a>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-lg-10 pull-center">
            <form action="{% url 'add-task' personel.pk %}" method="post">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                    <div class="col-lg-10">
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="col-lg-10">
                    <div class="form-group">
                        <input type="submit" value="Görev Ekle" class="btn btn-sm btn-success pull-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <h3 class="page-header"> Görevler ({{ personel.get_personnel_task|length }})</h3>
            <div class="col-lg-12">
                {% for task in personel.get_personnel_task %}
                    <div>
                        <span> <b>{{ task.gorev_adi }}</b></span>
                    </div>
                    <p style="padding-left: 10px; padding-top: 5px">{{ task.gorev }}</p>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}