{% extends 'base.html' %}

{% block title %}
    Room Update
{% endblock %}

{% block icerik %}
    <div class="row">
        <div class="col-lg-8 pull-center">
            <h1 class="page-header">Oda Güncelle </h1>
            <form action="{% url 'room-update' room.pk %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {% include 'beacon/include/form-include.html' %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" value="Güncelle" class="btn pull-right  btn-sm btn-success">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}